<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">
    Hola Tareras
  </h1>
  <div>
    <input type="number" [(ngModel)]="num1">
    <ion-input type="number" [(ngModel)]="num1"></ion-input>

    <ion-label>{{num1}}</ion-label>
  </div>

</ion-content>